################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OSnack.API.test/bin/Debug/net5.0
/OSnack.API.test/obj
